<h2>Create a New Message</h2>

<%= form_with url: conversation_messages_path(@conversation.id), method: :post do |form| %>
  <%= form.label :text %>
  <%= form.text_field :text %>
  <%= form.submit 'Create Message' %>
<% end %>
