<h2>Create a New Message</h2>

<%= form_with url: "/conversations/#{@conversation.id}/messages", method: :post do |form| %>
  <%= form.label 'Text' %>
  <%= form.text_field 'Text' %>
  <%= form.submit 'Create Message' %>
<% end %>
